{% extends "base.html.twig" %}

{% block title %}Delete Email{% endblock %}

{% block body %}
    <h1>Delete email</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
