{% extends "base.html.twig" %}

{% block title %}Delete phone{% endblock %}

{% block body %}
    <h1>Delete phone</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
